<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Places Search Box</title>
    <style type="text/css">
           /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 80%;
        width: 100%;
        border-radius: 20px;
        border: 2px dashed black;
        display: inline-block;
      }
      
       /* Optional: Makes the sample page fill the window. */
      html, body {
        text-align: center;  
        height: 100%;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Bucky's utility Map</h1>
      <form id="search_box">
        <input type="text" name="location">
        <button>Search</button>
      </form>
    </header>

    <div id="map"></div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="map.js"></script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSSHKMu675X0qLQXWpDJBSGoFr8iVRxsA&callback=initMap">
    </script>
  </body>
</html>