      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 60%;
        width: 100%;
        border-radius: 20px;
        display: inline-block;
      }
      
       /* Optional: Makes the sample page fill the window. */
/*      html, body {
        text-align: center;  
        height: 100%;
      }*/

     