/*map*/
#map {
  height: 40%;
  width: 100%;

}
/*body width*/
body{
  width: 100%;
  text-align: center;
}

/*container*/
#pageContainer{
  height: 100%;
  width: 100%;
  max-width: 600px;
  display: inline-block;
}

/*result list container*/
#resultList{
  margin-top: 5px;
  text-align: left;
  list-style-type: none;
  width: 100%;
}
 
h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}
 
li img {
  border-radius: 3px;
  width: 150px;
  height: 100px;
  float: right;
}
 
li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
 
li {
  margin-bottom: 5px;
  padding: 10px;
  overflow: auto;
  border: 1px solid #D3D3D3;
  box-shadow: 0px 0.5px;
  border-radius: 3px;
}
 
li:hover {
  background: #eee;
  cursor: pointer;
}

     