body {
  background: url("../resources/campus_skyline_dusk14_8612-min.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: 60% 0%;
}

.content {
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
}

#title {
  font-weight: bold;
  text-shadow: 1px 1px grey;
  display: inline-block;
  font-size: 4em;
  color: #c5050c;
  font-family: "Chakra Petch", sans-serif;
}

.main-container {
  background: rgba(237, 237, 237, 0);
  background: -moz-linear-gradient(
    left,
    rgba(237, 237, 237, 0) 0%,
    rgba(246, 246, 246, 0.53) 53%,
    rgba(237, 237, 237, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(237, 237, 237, 0)),
    color-stop(53%, rgba(246, 246, 246, 0.53)),
    color-stop(100%, rgba(237, 237, 237, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(237, 237, 237, 0) 0%,
    rgba(246, 246, 246, 0.53) 53%,
    rgba(237, 237, 237, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(237, 237, 237, 0) 0%,
    rgba(246, 246, 246, 0.53) 53%,
    rgba(237, 237, 237, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(237, 237, 237, 0) 0%,
    rgba(246, 246, 246, 0.53) 53%,
    rgba(237, 237, 237, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(237, 237, 237, 0) 0%,
    rgba(246, 246, 246, 0.53) 53%,
    rgba(237, 237, 237, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ededed', GradientType=1 );
}

.main-container > * {
  margin: 1%;
}

.btn {
  display: inline-block;
  background: transparent;
  border-style: none;
  transition: 0.2s ease;
  border: 1px solid #c5050c;
  border-radius: 5%;
}

.btn:hover {
  background-color: white;
  border: 5px solid #c5050c;
  transform: scale(1.1);
}

.btn img {
  width: 90px;
  height: 90px;
}

@media only screen and (max-width: 768px) {
  #title {
    visibility: hidden;
    word-spacing: -999px;
    letter-spacing: -999px;
  }

  #title:after {
    content: "MadMap";
    position: relative;
    top: -0.5em;
    visibility: visible;
    word-spacing: normal;
    letter-spacing: normal;
  }

  .content {
    top: 0;
  }

  .btn {
    border: 2px solid #c5050c;
    margin-top: 2%;
    padding: 2%;
  }

  .btn img {
    width: 60px;
    height: 60px;
  }

  .btn:hover {
    background-color: white;
    border: 1px dashed #c5050c;
    transform: none;
  }
}

@media only screen and (max-width: 576px) {
  body {
    min-height: 550px !important;
    background-position: 50% 50%;
  }

  #title:after {
    content: "MadMap";
    position: relative;
    font-size: 0.8em;
    top: -1em;
    visibility: visible;
    word-spacing: normal;
    letter-spacing: normal;
  }

  #title {
    height: 16vh;
    font-size: 4em;
  }

  .btn {
    border: none;
    border-top: 1px solid #c5050c;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
    height: 16vh;
  }
}

@media only screen and (min-width: 577px) and (max-width: 767.5px) {
  body {
    min-height: 670px !important;
    background-position: 60%;
  }

  .btn {
    border: none;
    border-top: 2px solid #c5050c;
    margin-bottom: 0;
    border-radius: 0;
  }

  .btn img {
    width: 70px;
    height: 70px;
  }
}
