/*body width*/
/*container*/
/*map*/
/*remove google logo and terms*/
/*result list container*/
body {
  width: 100%;
  overflow: auto;
}

.nav {
  height: 50px;
  background-color: #c5050c;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
  -webkit-box-shadow: 0px 5px 11px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 11px -5px rgba(0, 0, 0, 0.3);
}

.nav #nav-center-container {
  color: white;
  font-weight: 900;
}

#pageContainer {
  height: 100%;
  width: 100%;
}

#back-btn {
  cursor: pointer;
  display: none;
  border-style: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0.8%;
  z-index: 11;
  background: transparent;
}

#back-btn .icon {
  width: 33px;
}

#map {
  height: 100%;
  width: 100%;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  border: 1px solid #c5050c;
}

a[href^="http://maps.google.com/maps"] {
  display: none !important;
}

a[href^="https://maps.google.com/maps"] {
  display: none !important;
}

.gmnoprint a {
  display: none;
}

.gmnoprint span {
  display: none;
}

.gmnoprint div {
  background: none !important;
}

.gm-style-cc {
  display: none;
}

#load-more-btn {
  margin: 20px auto;
  display: none;
  width: 96%;
  color: white;
  height: 40px;
  border-style: none;
  border-radius: 5px;
  background: transparent;
  background-color: #c5050c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 900;
}

#load-more-btn:hover {
  cursor: pointer;
}

#detail-container {
  display: none;
  padding: 0 24px;
  margin-top: 20px;
  font-family: ircular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  text-align: center;
}

.row-row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sub-header {
  font-weight: 900;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #c5050c;
  display: block;
}

#buildingName {
  margin-top: -3px;
  line-height: 1;
}

#buildingDes {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

#utilityIMG {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.specific-label {
  display: block;
  font-size: 1.15em;
  font-weight: 500;
}

.specific-button {
  color: white;
  background: #c5050c;
  font-size: 1em;
  padding: 10px 15px;
  border-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  font-weight: 550;
  width: 120px;
}

#utilIMG,
#directionBtn {
  display: block;
  margin: 10px auto;
  width: 60%;
}

#utilIMG:hover,
#directionBtn:hover {
  cursor: pointer;
  color: white;
}

.main-container {
  margin-top: 30px;
}

.result-container {
  padding-right: 0;
}

#map-container {
  padding-left: 0 !important;
  margin-top: 35px;
  height: 525px;
  visibility: hidden;
  position: relative;
}

#map-container #map-loading-icon {
  display: none;
  font-family: ircular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  position: absolute;
  color: black;
  font-size: 3em;
  top: 40%;
  left: 50%;
  font-weight: bold;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.result-list {
  margin-top: 15px;
}

.card {
  border: none;
  border-bottom: 1px solid #c5050c;
  padding: 20px;
  padding-right: 0;
  position: relative;
}

.card:hover {
  cursor: pointer;
}

.card:hover .card-title {
  color: #c5050c;
}

.card .card-text-container {
  display: inline-block;
  width: 53%;
  vertical-align: top;
}

.card .card-detail {
  margin-top: 1%;
  margin-left: 5%;
  font-size: 1.35em;
}

.card .card-title {
  font-size: 1.8em;
  font-size: bold;
}

.card .card-img {
  width: 42%;
  display: inline-block;
  border: 1px solid #c5050c;
}

.card .card-annotation {
  font-size: 1.25em !important;
  margin-top: 3%;
  margin-left: 5%;
  display: block;
  color: gray;
  font-size: 1em;
}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c5050c;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .card .card-title {
    font-size: 1.5em;
  }
  .sk-folding-cube {
    left: 45%;
  }
  #map-container {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-top: 20px;
    height: 40vh !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    height: 50vh;
    border: 0;
  }
  #map-container #map {
    border: none;
  }
  .nav {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .nav #nav-center-container {
    font-size: 1.6em;
    text-transform: uppercase;
  }
  .nav #back-btn .icon {
    width: 1.7em;
  }
  .result-list {
    padding: 1px;
    border: none;
    margin-top: 0;
  }
}

@media (max-width: 567px) {
  .nav #nav-center-container {
    font-size: 1.6em;
  }
  .nav #back-btn .icon {
    width: 1.8em;
  }
  .card {
    padding: 5px;
    padding-top: 10px;
  }
  .card .card-detail {
    margin-top: 3%;
    font-size: 1em;
  }
  .card .card-title {
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  #map-container #map-loading-icon {
    font-size: 2.5em;
  }
  #detail-container {
    margin-top: 0px;
    padding-bottom: 15px;
  }
}

body {
  background: url("../images/campus_skyline_dusk14_8612-min.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: 60% 0%;
}

.content {
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
}

#title {
  font-weight: bold;
  text-shadow: 1px 1px grey;
  display: inline-block;
  font-size: 4em;
  color: #c5050c;
  font-family: "Chakra Petch", sans-serif;
}

.main-container {
  background: rgba(237, 237, 237, 0);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237, 237, 237, 0)), color-stop(53%, rgba(246, 246, 246, 0.53)), color-stop(100%, #ededed));
  background: -webkit-gradient(linear, left top, right top, from(rgba(237, 237, 237, 0)), color-stop(53%, rgba(246, 246, 246, 0.53)), to(#ededed));
  background: linear-gradient(to right, rgba(237, 237, 237, 0) 0%, rgba(246, 246, 246, 0.53) 53%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ededed', GradientType=1 );
}

.main-container > * {
  margin: 1%;
}

.btn {
  display: inline-block;
  background: transparent;
  border-style: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  border: 1px solid #c5050c;
  border-radius: 5%;
}

.btn:hover {
  background-color: white;
  border: 5px solid #c5050c;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn img {
  width: 90px;
  height: 90px;
}

@media only screen and (max-width: 768px) {
  #title {
    visibility: hidden;
    word-spacing: -999px;
    letter-spacing: -999px;
  }
  #title:after {
    content: "MadMap";
    position: relative;
    top: -0.5em;
    visibility: visible;
    word-spacing: normal;
    letter-spacing: normal;
  }
  .content {
    top: 0;
  }
  .btn {
    border: 2px solid #c5050c;
    margin-top: 2%;
    padding: 2%;
    border-radius: 0;
  }
  .btn img {
    width: 60px;
    height: 60px;
  }
  .btn:hover {
    border: none;
    -webkit-transform: none;
            transform: none;
  }
}

@media only screen and (max-width: 576px) {
  body {
    min-height: 550px !important;
    background-position: 50% 50%;
  }
  #title {
    height: 16vh;
    font-size: 4em;
  }
  #title:after {
    content: "MadMap";
    position: relative;
    font-size: 0.8em;
    top: -1em;
    visibility: visible;
    word-spacing: normal;
    letter-spacing: normal;
  }
  .btn {
    border: none;
    border-top: 1px solid grey;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
    height: 16vh;
  }
}

@media only screen and (min-width: 577px) and (max-width: 767.5px) {
  body {
    min-height: 750px !important;
    background-position: 60%;
  }
  .btn {
    border: none;
    border-top: 1px solid grey;
    margin-bottom: 0;
    border-radius: 0;
  }
  .btn img {
    width: 70px;
    height: 70px;
  }
}
/*# sourceMappingURL=style.css.map */